.profile{
  width: 100%;
}
.profile img{
  width: 250px;
}
form{
  color: black;
  background-color: #071a2c;
}

label,h2,h3,u{color:aliceblue}


.mat-form-field{
  color: white;
  width: 100%;
}

hr{
  color: aliceblue;
}
input[type="file" i]{
  color: aliceblue;
}
u{
  color: rgb(200, 200, 0);
}