<div class="profile">
    <img src="assets/copameLogo.jpg" alt="">

</div>
<hr>
<div class="row">
    <div class="col">

        <form (ngSubmit)="guardar()" [formGroup]="formulario" >
            <h2>Generales</h2>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">nombre</label>
                <div class="col-sm-9">
                    <mat-form-field  appearance="fill">
                        <mat-label>Dos appelidos y nombre</mat-label>
                        <input  matInput >
                    </mat-form-field>
                </div>
            </div>

            
            

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">pais</label>
                <div class="col-sm-9">
                    <mat-form-field  appearance="fill">
                        <mat-label>Pais al que pertenece</mat-label>
                        <input  matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- input end -->

            
                <hr>
                <h2>Deporte</h2>
            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">deporte</label>
                <div class="col-sm-9">
                    <mat-form-field  appearance="fill">
                        <mat-label>Deporte que practica</mat-label>
                        <input  matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- input end -->

        <!-- input start otros deportes inicio  -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Otros Deportes practicados</label>
                <div class="col-sm-9">

                    
            <mat-form-field  appearance="fill">
            <mat-label  >Deportes</mat-label>
            <select  matNativeControl >
                <option  value="natacion">Natación</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            </mat-form-field>
                </div>
            </div>
        
        
            <!-- input start -->
            <!-- <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Clasificación</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            formControlName="clasificacion"
                            placeholder="Clasificación">
                            <span class="form-text text-primary" >"Poner todas"</span>
                            
                </div>
            </div> -->
            <!-- input end -->

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Clasificación</label>
                <div class="col-sm-9">
                    <mat-form-field appearance="fill">
                        <mat-label>Todas a las que pertenece</mat-label>
                        <mat-select [formControl]="toppings" multiple>
                          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                        </mat-form-field>
                            
                </div>
            </div>

        <!-- input start -->
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label"  for="">Prueba principal</label>
            <div class="col-sm-9">
                <mat-form-field  appearance="fill">
                    <mat-label>Prueba principal</mat-label>
                    <input  matInput>
                </mat-form-field>
            </div>
        </div>
        <!-- input end -->


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Pruebas en las que participa</label>
                <div class="col-sm-9">
                    <mat-form-field appearance="fill">
                        <mat-label>Toppings</mat-label>
                        <mat-select [formControl]="toppings" multiple>
                          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                        </mat-form-field>
                            
                </div>
            </div>

            <h2>Información Movimiento Global Deportivo</h2>
            <hr>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Comité o Asociación Nacional</label>
                <div class="col-sm-9">

                    
            <mat-form-field  appearance="fill">
            <mat-label  >Deportes</mat-label>
            <select  matNativeControl >
                <option  value="natacion">Natación</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            </mat-form-field>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Federación Nacional</label>
                <div class="col-sm-9">

                    
            <mat-form-field  appearance="fill">
            <mat-label  >Deportes</mat-label>
            <select  matNativeControl >
                <option  value="natacion">Natación</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            </mat-form-field>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Asociación</label>
                <div class="col-sm-9">

                    
            <mat-form-field  appearance="fill">
            <mat-label  >Deportes</mat-label>
            <select  matNativeControl >
                <option  value="natacion">Natación</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            </mat-form-field>
                </div>
            </div>

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Federación Internacional de Deporte</label>
                <div class="col-sm-9">
                    <mat-form-field  appearance="fill">
                        <mat-label> Adaptado</mat-label>
                        <input  matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- input end -->
            
            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Número de Licencia Federación Internacional  </label>
                <div class="col-sm-9">
                    <mat-form-field  appearance="fill">
                        <mat-label>Deporte Adaptado</mat-label>
                        <input  type="number"  matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- input end -->

        
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Comité o Asociación Nacional</label>
                <div class="col-sm-9">

                    
            <mat-form-field  appearance="fill">
            <mat-label  >Deportes</mat-label>
            <select  matNativeControl >
                <option  value="natacion">Natación</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            </mat-form-field>
                </div>
            </div>

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Número de Licencia Federación Nacional </label>
                <div class="col-sm-9">
                    <mat-form-field  appearance="fill">
                        <mat-label>Deporte Convencional</mat-label>
                        <input  matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- input end -->

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Genero</label>
                <div class="col-sm-9">

                    
            <mat-form-field  appearance="fill">
            <mat-label  >H/M</mat-label>
            <select  matNativeControl >
                <option  value="natacion">Hombre</option>
                <option value="saab">Mujer</option>
            
            </select>
            </mat-form-field>
                </div>
            </div>
            <!-- input end -->
            
            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Fecha de nacimiento</label>
                <div class="col-sm-9">

                    
                    <mat-form-field appearance="fill">
                        <mat-label>mes/día/año</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <!-- input end -->

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Edad </label>
                <div class="col-sm-9">
                    <mat-form-field  appearance="fill">
                        <mat-label>Edad</mat-label>
                        <input type="number"  matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- input end -->


            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Lugar de nacimiento </label>
                <div class="col-sm-9">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Dirección</mat-label>
                        <textarea matInput placeholder="Ex. 100 Main St">México Ciudad de México</textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- input end -->

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Estado civil</label>
                <div class="col-sm-9">

                    
            <mat-form-field  appearance="fill">
            <mat-label  >H/M</mat-label>
            <select  matNativeControl >
                <option  value="natacion">Casad@</option>
                <option value="saab">Solter@</option>
            
            </select>
            </mat-form-field>
                </div>
            </div>
            <!-- input end -->

            
            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Telefonos celulares </label>
                <div class="col-sm-9">
                    <mat-form-field  appearance="fill">
                        <mat-label>Celular</mat-label>
                        <input type="number"  matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- input end -->


            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Correo electronico </label>
                <div class="col-sm-9">
                    
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput  placeholder="Ex. pat@copame.com">
                </mat-form-field>
                </div>
            </div>
            <!-- input end -->

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Cuentas de Facebook </label>
                <div class="col-sm-9">
                    
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Facebook</mat-label>
                    <input type="email" matInput  placeholder="Ex. pat@gmail.com">
                </mat-form-field>
                </div>
            </div>
            <!-- input end -->

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Cuentas de Instagram </label>
                <div class="col-sm-9">
                    
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Instagram</mat-label>
                    <input type="email" matInput  placeholder="Ex. pat@gmail.com">
                </mat-form-field>
                </div>
            </div>
            <!-- input end -->

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Cuentas de Linkedin </label>
                <div class="col-sm-9">
                    
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Linkedin</mat-label>
                    <input type="email" matInput  placeholder="Ex. pat@gmail.com">
                </mat-form-field>
                </div>
            </div>
            <!-- input end -->

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Otras redes sociales </label>
                <div class="col-sm-9">
                    
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Otras</mat-label>
                    <input type="email" matInput  placeholder="Ex. pat@gmail.com">
                </mat-form-field>
                </div>
            </div>
            <!-- input end -->

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">Curp </label>
                <div class="col-sm-9">
                    
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Curp</mat-label>
                    <input  matInput  >
                </mat-form-field>
                </div>
            </div>
            <!-- input end -->

            <!-- input start -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label"  for="">RFC</label>
                <div class="col-sm-9">

                    
            <mat-form-field  appearance="fill">
            <mat-label  >H/SH</mat-label>
            <select formControlName="rfc"  matNativeControl >
                <option  value="homoclave">Con Homoclave</option>
                <option value="sinHomoclave">Sin Homoclave</option>
            
            </select>
            </mat-form-field>
                </div>
            </div>
            <!-- input end -->

            <!-- input start -->
            <div *ngIf="formulario.value.rfc == 'homoclave'" class="formularioCondicional">
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label"  for="">RFC Homoclave </label>
                    <div class="col-sm-9">
                        
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>RFC con homoclave</mat-label>
                        <input  matInput  >
                    </mat-form-field>
                    </div>
                </div>
            </div>
            
            <!-- input end -->

            <!-- input start -->
            <div *ngIf="formulario.value.rfc == 'sinHomoclave'" class="formularioCondicional">
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label"  for="">RFC sin Homoclave </label>
                    <div class="col-sm-9">
                        
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>RFC sin Homoclave</mat-label>
                        <input  matInput  >
                    </mat-form-field>
                    </div>
                </div>
            </div>
            
            <!-- input end -->

            
            
            
            


            <div class="row">
                <div class="col-sm-11">
                    <button type="submit"
                            class="btn btn-primary float-end">guardar</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col">
        
                <span>Valid</span>
                <pre>{{ formulario.valid }}</pre>
        
                <span>Pristine</span>
                <pre>{{ formulario.pristine }}</pre>
        
                <span>Touched</span>
                <pre>{{ formulario.touched }}</pre>
        
                <span>Value</span>
                <pre>{{ formulario.value | json }}</pre>
        
                
            </div>
        </div>
        
    </div>
</div>